<?xml version="1.0"?>
<launch>
    <include file="$(find realsense2_camera)/launch/rs_aligned_depth.launch" />
    <node type="rviz" name="rviz" pkg="rviz" args="-d $(find grasping_demo)/ggcnn_ur5_grasping/rviz/gg_rviz.rviz" />
    <node pkg="grasping_demo" name="run_ggcnn" type="run_ggcnn.py" output="screen"/>
    <node pkg="grasping_demo" name="move_ggcnn" type="move.py" output="screen"/>
</launch>
